@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.heading {
  margin-top: 76px;
  font-size: 26px;
  line-height: 31px;
}

h2 {
  font-weight: bold;
  width: 560px;
}

hr {
  width: 560px;
  height: 1px;
  margin-left: unset;
  background-position: 0px 0px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.09%, #9c2686), to(#e71324));
  background: linear-gradient(to right, #9c2686 0.09%, #e71324 100%);
}

.imageContainer {
  margin-top: 22px;
  margin-bottom: 22px;
  height: 331px;
  width: 560px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid grey;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.subHeadings h2 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 18px;
  width: 560px;
}

.subHeadings p {
  font-weight: 300;
  font-size: 16px;
  font-style: light;
  line-height: 24px;
  margin-bottom: 18px;
  font-weight: 300px;
  width: 560px;
}

.right-section {
  width: 270px;
  height: 640px;
  margin-top: 76px;
  background: #F5F5F5;
}

.right-section .tips_Btn {
  width: 220px;
  height: 40px;
  margin-top: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.09%, #9c2686), to(#e71324));
  background: linear-gradient(to right, #9c2686 0.09%, #e71324 100%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  #app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #262626;
  opacity: 0.8;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 570px;
  height: 310px;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Lato", sans-serif;
  color: #101010;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0rem 13rem 0rem 13rem;
}

.left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-section h2 {
  font-weight: bold;
  width: 560px;
}

.left-section p {
  width: 560px;
}

.left-section .para1 {
  margin-top: 28px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
/*# sourceMappingURL=style.css.map */